* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    padding: 15px;
    width: 250px;
}

.hide {
    display: none;
    opacity: 0;
}

.right {
    text-align: right;
}

.logo {
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

label {
    font-color: #444;
    font-size: 13px;
}

button {
    margin: 4px 0px 0px 0px;
    background-color: rgb(0, 113, 205);
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    padding: 10px 16px;
    outline: 0;
    border: 0px;
}

input {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    margin-bottom: 16px;
}

label {
    display: block;
    margin-bottom: 8px;
}

#main {
}

#login {
}

.balance-description {
    color: rgb(51, 51, 51);
    font-size: 13px;
    margin: 8px 0px 20px 0px;
}

.balance-value {
    color: rgb(51, 51, 51);
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 8px;
}

.balance-units {
    font-size: 13px;
    font-weight: bold;
}

#btn-logout {
    display: inline-block;
    margin-top: 18px;
    font-size: 14px;
    color: rgb(0, 113, 205);
    text-decoration: none;
}

#btn-logout:hover {
    font-size: 14px;
    text-decoration: underline;
}

.bar {
    height: 8px;
    border-radius: 4px;
    text-align: right;
    background: #eee;
    overflow: hidden;
}

.bar-fill {
    float: right;
    height: 8px;
    border-radius: 4px;
    background: rgb(0, 113, 205);
}

hr {
    clear: both;
    height: 1px;
    margin: 32px 0px;
    border: 0px solid #fff;
    border-top: 1px solid #ddd;
}

#avatar {
    float: left;
}

#user-name {
    text-align: right;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px;
}
